name: Loon_自动转换同步  # 自动化同步任务

on:
  schedule:
    - cron: '49 5 * * *'   # 每天北京时间 13:49 触发
    - cron: '49 17 * * *'  # 每天北京时间 01:49 触发
  workflow_dispatch:       # 支持手动运行

permissions:
  contents: write          # 允许提交文件

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 设置 Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 安装依赖
        run: pip install requests

      - name: 运行转换脚本
        run: python LOON_JIAOBEN.PY

      - name: 提交更新到仓库
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          
          # 添加生成的所有中英文文件名
          git add Loon_黑名单.txt Loon_白名单.txt
          
          # 提交更改
          git commit -m "同步黑白名单规则：$(date +'%Y-%m-%d %H:%M:%S' --date='+8 hour')" --allow-empty
          
          # 拉取并强制推送
          git pull origin main --rebase
          git push origin main --force
